* {
        font-family: JetBrainsMonoNL Nerd Font Mono;
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.5);
}

button {
	color: #FFFFFF;
    font-size:20px;

    background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;

	border-style: solid;
	background-color: rgba(12, 12, 12, 0.3);
	border: 3px solid #FFFFFF;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
	color: #ADD8E6;
	background-color: rgba(12, 12, 12, 0.5);
	border: 3px solid #ADD8E6;
}

#lock {
    	margin: 10px;
	border-radius: 20px;
        background-image: url("/home/nyanko/.config/wlogout/icons/lock.svg");
}

#logout {
	margin: 10px;
	border-radius: 20px;
        background-image: url("/home/nyanko/.config/wlogout/icons/logout.svg");
}

#suspend {
	margin: 10px;
	border-radius: 20px;
        background-image: url("/home/nyanko/.config/wlogout/icons/suspend.svg");
}

#hibernate {
	margin: 10px;
	border-radius: 20px;
        background-image: url("/home/nyanko/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
	margin: 10px;
	border-radius: 20px;
        background-image: url("/home/nyanko/.config/wlogout/icons/shutdown.svg");
}

#reboot {
	margin: 10px;
	border-radius: 20px;
        background-image: url("/home/nyanko/.config/wlogout/icons/reboot.svg");
}
